<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category.capitalize %></p>

<p>Address: <%= @restaurant.address %></p>
<p>Phone: <%= @restaurant.phone_number %></p>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>

<%= link_to "Back to all restaurants", restaurants_path %>

<hr>

<h4>Reviews</h4>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
